
/*** Index CSS File ***/


.greeting h3 {
    color: #cccccc;
    font-size: 35px;
    font-weight: 900;
    height: 0vh;
}

.about-me {
    display: flex;
    justify-content: flex-start;
}

.about-me .name { 
    color: #679cff;
    animation: colorChange 7s infinite;
}

.socials {
    margin-bottom: 55px;
    user-select: none;
}

.socials a { padding-left: 40px; }

.socials .contact { padding-left: 30px; }

.socials .contact a {
    color: #f3f7fa;
    text-decoration: none;
    background-color: #6681d8;
    border-radius: 100px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px;
}

.socials .contact a:hover { background-color: #546cbb; }

.about-me p {
    color: #8d8d8d;
    font-size: 25px;
    font-weight: 600;
}

.programmerImg {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    user-select: none;
    margin-right: 350px;
    height: 22vh;
}

.foreword {
    display: flex;
    justify-content: flex-end;
    text-align: left;
    position: relative;
    height: 0vh;
}

.foreword .headline {
    color: #dad8d8;
    font-size: 27px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-right: 35px;
}

.foreword .headline i {
    padding-left: 8px;
    font-size: 22px;
}

.foreword .text {
    color: #8d8d8d;
    font-size: 23px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foreword .text a { color: #8d8d8d; }

.container {
    color: #a8a6a6;
    font-size: 23px;
    font-weight: 600;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 2px #6d6d6d;
}

#skills {
    margin-top: 250px;
    text-align: center;
    user-select: none;
}

#skills h3 {
    font-size: 28px;
}


/*** Responsive ***/

@media screen and (max-width: 1000px) {

    #middle h3 { font-size: 17px; }

    #middle p { font-size: 14px; }

    #middle img {
        height: 12.5rem;
        margin-left: 45px;
    }

    .foreword { display: inline-block; }

    .foreword .headline {
        color: #dad8d8;
        font-size: 17px;
        font-weight: 600;
        display: flex;
        align-items: center;
        user-select: none;
        margin-right: 35px;
    }
    
    .foreword .headline i {
        padding-left: 8px;
        font-size: 17px;
    }

    .text { margin-bottom: 100px; }

    #skills { text-align: center; }

    .socials .contact a {
        color: #f3f7fa;
        text-decoration: none;
        background-color: #6681d8;
        border-radius: 100px;
        font-weight: 600;
        font-size: 12px;
        padding: 10px;
    }
}